---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

{% assign selected_lang = page.lang | default: site.default_lang %}

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5">
<div class="jumbotron">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-12">
      <span class="small text-white">{{ site.data.languages[selected_lang].LLC_front }}</span>
      <h1 class="font-weight-bold mb-4 serif-font text-white">Aska Intelligence</h1>
      <p class="lead mb-4 small text-white">{{ site.data.languages[selected_lang].company_description }}</p>
      <!-- <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">About us</a> -->
    </div>
<!--     <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/aska_bg.svg">      
    </div>
 -->  </div>
</div>
</div>
{% endif %}

<h3 class="mb-3">{{ site.data.languages[selected_lang].products_services }}</h3>

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      {% if post.lang == selected_lang %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endif %}
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
