<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>About us</span></h5>
        <p>
            {{ site.data.languages[selected_lang].about_us_description_1 }}
        </p>
        <p>
            {{ site.data.languages[selected_lang].about_us_description_2 }}
        </p>
        <div class="col-md-12 text-center">
            <a href="{{site.baseurl}}/contact" class="btn btn-primary text-white px-5">{{ site.data.languages[selected_lang].contact_us }}</a>
            <img class="intro" height="500" src="{{site.baseurl}}/assets/images/aska_bg.svg">
        </div>
    </div>
    <div class="sidebar-section">
        <h5><span>About the CEO</span></h5>
        <div class="align-items-center">
            <div class="col-md-12 text-center">
              <img class="intro" height="150" src="{{site.baseurl}}/assets/images/Tatsuro2022.png">      
            </div>
        </div>
        <h6>
            {{ site.data.languages[selected_lang].about_ceo_name }}
        </h6>

        <p>
            {{ site.data.languages[selected_lang].about_ceo_description }}
        </p>
        <h6>{{ site.data.languages[selected_lang].career }}</h6>
        <ul type="circle">
            <li>{{ site.data.languages[selected_lang].career_item_1 }}</li>
            <li>{{ site.data.languages[selected_lang].career_item_2 }}</li>
            <li>{{ site.data.languages[selected_lang].career_item_3 }}</li>
        </ul>

        <div class="col-md-12 text-center">
            <a href="https://tatsuro-kawamoto-jp.github.io/" class="btn btn-primary text-white px-5">{{ site.data.languages[selected_lang].personal_website }}</a>
        </div>
    </div>
</div>